<h3>This is your shortlink</h3>

<p><%= link_to "https://jenee-google-place-search-api.herokuapp.com/#{@shortlink.shortened}", "https://jenee-google-place-search-api.herokuapp.com/#{@shortlink.shortened}", :target => "_blank" %></p>
<p><%= @shortlink.email %></p>
<p><%= @shortlink.original %></p>
